<div class="page-header">
  <h1>Blogs</h1>
</div>

<ul>
  <% @blogs.each do |blog| %>
  <div class="blog-container">
    <li class="categories">
      <%= link_to blog.title, blog_path(blog) %>
      <%= blog.date %>
      <%= blog.body %>
    </li>
  </div>
  <% end %>
</ul>

<p><%= link_to 'Create new blog', new_blog_path %></p>
