<div class="page-header">
  <h1>Blogs</h1>
</div>

<ul>
  <% @blogs.each do |blog| %>
  <div class="blog-container">
    <li>
      <span class="blog-title"><%= link_to blog.title, blog_path(blog) %></span>
      <span class="blog-date"><%= blog.date %></span>
      <span class="blog-body"><%= blog.body %></span>
    </li>
  </div>
  <% end %>
</ul>

<p><%= link_to 'Create new blog', new_blog_path %></p>
